<h1>Sign up</h1>

<% if @user.errors.any? %>
  <div class="alert alert-warning">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_with(model: @user, local: true) do |f| %>
  <div class="row mb_20">
    <%= f.label :name, class: 'col-sm-2' %>
    <%= f.text_field :name, class: 'col-sm-10' %>
  </div>

  <div class="row mb_20">
    <%= f.label :email, class: 'col-sm-2' %>
    <%= f.email_field :email, class: 'col-sm-10' %>
  </div>

  <div class="row mb_20">
    <%= f.label :password, class: 'col-sm-2' %>
    <%= f.password_field :password, class: 'col-sm-10' %>
  </div>

  <div class="row mb_20">
    <%= f.label :password_confirmation, class: 'col-sm-2'  %>
    <%= f.password_field :password_confirmation, class: 'col-sm-10'  %>
  </div>

  <div class="row mb_20">
    <%= f.label :icon, class: 'col-sm-2' %>
    <%= f.file_field :icon, id: :user_icon, class: 'col-sm-10' %>
    <!-- バリデーションで引っかかった時用の処理 -->
    <%= f.hidden_field :icon_cache %>
  </div>

  <div class="row center">
    <%= f.submit "Create my account", class: "square_btn" %>
  </div>
<% end %>
