<%= render 'layouts/flash_messages' %>

<h1 class="center"><%= @user.name %>さんのページ</h1>

<div class="row center">
  <div class="col-sm-12"><%= @user.email %></div>
  <div class="col-sm-12"><%=image_tag @user.icon.thumb %></div>
</div>

<hr>

<h2 class="center"><%= @user.name %>のお気に入り一覧</h2>
<% if @favorite_pictures %>

<div class="row center">
  <% @favorite_pictures.each do |picture| %>
    <div class="col-xs-12 col-md-12 picture-panel">
      <p><%= picture.user.name %>さんの投稿</p>
      <p><%=image_tag picture.photo %></p>
      <p><%= picture.content %></p>
      <p><%= picture.updated_at %></p>
    </div>
  <% end %>
</div>

<% end %>
