<%= form_with(model: @picture, local: true, url: choose_new_or_edit) do |form| %>

<% if @picture.errors.any? %>
  <div class="alert alert-warning">
    <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
    <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="row mb_20">
    <%= form.label :content, class: 'col-sm-2' %>
    <%= form.text_field :content, class: 'col-sm-10' %>
  </div>
  <div class="row mb_20">
    <%= form.label :photo, class: 'col-sm-2' %>
    <%= form.file_field :photo, id: :picture_photo, class: 'col-sm-10' %>
    <!-- バリデーションで引っかかった時用の処理 -->
    <%= form.hidden_field :photo_cache %>
  </div>
  <div class="row center">
    <%= form.submit :class => "square_btn" %>
  </div>
<% end %>
